<!doctype html>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto Procjena</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        .flex {
            display: flex;
        }

        .flex--wrap {
            flex-wrap: wrap;
        }

        .flex--center {
            align-items: center;
        }

        .container {
            min-height: 100vh;
        }


    </style>
</head>
<body>
<div class="container flex flex--wrap flex--center" id="app">
    <!--{% raw %}{{test}}{% endraw %}-->
    <div class="row">
        <div class="col s12 m6" style="text-align: right">
            <h2 class="col s12" style="margin-top: 0">Kupujete ili prodajete vozilo?</h2>
            <p class="col s12">Ukoliko Vas zanima prosječna tržišna vrijednost vozila, unesite što detaljnije podatke u
                formu na desnoj strani. <br>
                Mi smo prvi portal baziran na umjetnoj inteligenciji koji svakodnevno analizira više hiljada unosa kako
                bi napravio što bolju procjenu vašeg traženog vozila.</p>
            <div class="col s12">
                <img style="margin-top: 10px; max-width: 300px;" src="/static/car.gif"
                     alt="Car Driving">
            </div>
        </div>
        <div class="col s12 m6">

                <div class="input-field col s12">
                    <select @change="getModels()" name="manufacturer" v-model="data.brand">
                        <option value="" disabled selected>Odabir</option>
                        {% for manufacturer in manufacturers %}
                        <option value={{ manufacturer[1] }}>{{ manufacturer[1] }}</option>
                        {% endfor %}
                    </select>
                    <label>Marka</label>
                </div>

                <div class="input-field col s12">
                    <select name="model" v-model="data.model">
                        <option value="" disabled selected>Odabir</option>
                        <option v-for="val in models" :value=val v-text:bind="val"></option>
                    </select>
                    <label>Model</label>
                </div>
                <div class="input-field col s12">
                    <select name="year" v-model="data.year">
                        <option value="" disabled selected>Odabir</option>
                        {% for year in range(now.year, 1960, -1) %}
                        <option value={{ year }}>{{ year }}</option>
                        <model :model="let"></model>
                        {% endfor %}
                    </select>
                    <label>Godina Proizvodnje</label>
                </div>
                <div class="input-field col s12">
                    <select name="fuel" v-model="data.fuel">
                        <option value="" disabled selected>Odabir</option>
                        {% for fuel in fuels %}
                        <option value={{ fuel[0] }}>{{ fuel[1] }}</option>
                        {% endfor %}
                    </select>
                    <label>Gorivo</label>
                </div>
                <div class="input-field col s12">
                    <select name="volume" v-model="data.volume">
                        <option value="" disabled selected>Odabir</option>
                        {% for volume in volumes %}
                        <option value={{ volume }}>{{ volume }}</option>
                        {% endfor %}
                    </select>
                    <label>Motor (Zapremina)</label>
                </div>
                <div class="input-field col s12">
                    <input name="mileage" placeholder="Kilometraža" id="mileage" type="text" class="validate" v-model="data.mileage">
                    <label for="mileage">Kilometraža</label>
                </div>
                <div class="col s12">
                    <button @click="submit()" class="waves-effect waves-light btn">Procijeni</button>
                </div>

         </div>
    </div>
</div>

</body>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
<script>
    <!--$(document).ready(function(){-->
        <!--&lt;!&ndash;$('select').formSelect();&ndash;&gt;-->
    <!--});-->

    <!--$(document).ready(function(){-->
        <!--$('.datepicker').datepicker({-->
            <!--dateFormat: 'MM yy',-->
            <!--autoClose: true,-->
            <!--selectMonths: true-->
        <!--});-->
    <!--});-->

</script>
<script src="/path/axios/dist/axios.js"></script>
<script src="/path/vue/dist/vue.js"></script>
<script src="/static/js/app.js"></script>
</html>

